h1 {
    font-size: calc(var(--base-font-size) * 2);
    font-weight: bold;
    color: var(--text-color-dark);
    font-family: var(--heading-font);
}

h2 {
    font-size: calc(var(--base-font-size) * 1.5);
    font-weight: bold;
    color: var(--text-color-dark);
    font-family: var(--body-font);
}

h3 {
    font-size: calc(var(--base-font-size) * 1.25);
    font-weight: bold;
    color: var(--text-color-dark);
    font-family: var(--body-font);
}

p {
    font-size: var(--base-font-size);
    color: var(--text-color-dark);
    font-family: var(--body-font);
}
