.home-main {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
    margin-top: var(--header-height);
    background: var(--site-bg-color);
    color: var(--text-color-light);
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--section-padding);
  background-color: var(--section-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  color: var(--text-color-light);
}

/* Section Column Layout */
.one-column-layout {
  display: flex;
  flex-direction: column;
  gap: var(--section-grid-gap);
  margin-top: var(--section-margin);
}

.two-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--section-grid-gap);
  margin-top: var(--section-margin);
}

.three-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: var(--section-grid-gap);
  margin-top: var(--section-margin);
}

.zenith-focus-list {
  display: flex;
  flex-direction: column;
  gap: var(--section-padding);
  list-style: none;
}

.zenith-focus-item {
  display: flex;
  flex-direction: column;
  gap: var(--section-padding);
  list-style: none;
}

.program-plan-list {
  display: flex;
  flex-direction: column;
  gap: var(--section-padding);
  list-style: none;
}

.program-plan-item {
  display: flex;
  flex-direction: column;
  gap: var(--section-padding);
  list-style: none;
}